{% extends "base.html" %}

{% block title %}
詠草
{% endblock %}

{% block content %}

<h1>{{ contest["contest_no"] }} 翡翠句会　詠草</h1>

<h2>題①「{{ contest["theme1"] }}」</h2>

{% for poem in grouped_eiso["theme1"] %}
    <p>{{ poem }}</p>
{% endfor %}

<hr>

<h2>題②「{{ contest["theme2"] }}」</h2>

{% for poem in grouped_eiso["theme2"] %}
    <p>{{ poem }}</p>
{% endfor %}

<hr>

<h2>雑詠</h2>

{% for poem in grouped_eiso["free"] %}
    <p>{{ poem }}</p>
{% endfor %}

<p>
<a href="/contest/{{ contest['id'] }}">句会ダッシュボードへ戻る</a>
</p>

{% endblock %}