<!DOCTYPE html>

<html>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap" rel="stylesheet">

    <title>HisuiKukai</title>
</head>

<body>

<h1>翡翠句会</h1>

<p>
<a href="/create">新しい句会を作成</a>
</p>

<hr>

<h2>句会一覧</h2>

{% if contests %}

<ul>

{% for contest in contests %}

<li>

<a href="/contest/{{ contest['id'] }}">
    {{ contest["contest_no"] }} 翡翠句会
</a>

（{{ contest["status"] }}）

</li>

{% endfor %}

</ul>

{% else %}

<p>まだ句会はありません。</p>

{% endif %}

</body>

</html>