<!DOCTYPE html>

<html>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap" rel="stylesheet">
    <title>投句フォーム</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<h1>{{ contest["contest_no"] }} 翡翠句会</h1>

<h2>投句フォーム</h2>

<form>

<h3>筆名</h3>

<input type="text" name="pen_name">

<br><br>

<h3>筆名（かな）</h3>

<input type="text" name="pen_name_kana">

<hr>

<h2>題①「{{ contest["theme1"] }}」</h2>

一句目<br>
<textarea rows="2" cols="60"></textarea><br><br>

二句目<br>
<textarea rows="2" cols="60"></textarea><br><br>

三句目<br>
<textarea rows="2" cols="60"></textarea>

<hr>

<h2>題②「{{ contest["theme2"] }}」</h2>

一句目<br>
<textarea rows="2" cols="60"></textarea><br><br>

二句目<br>
<textarea rows="2" cols="60"></textarea><br><br>

三句目<br>
<textarea rows="2" cols="60"></textarea>

<hr>

<h2>雑詠</h2>

一句目<br>
<textarea rows="2" cols="60"></textarea><br><br>

二句目<br>
<textarea rows="2" cols="60"></textarea><br><br>

三句目<br>
<textarea rows="2" cols="60"></textarea>

<hr>

<input type="submit" value="投句する">

</form>

<script>
document.querySelectorAll("textarea").forEach(function(textarea) {

    textarea.addEventListener("keydown", function(event) {
        if (event.key === "Enter") {
            event.preventDefault();
        }
    });

    textarea.addEventListener("input", function() {
        this.value = this.value.replace(/\r?\n/g, "");
    });

});
</script>

</body>

</html>